.big-card {
    display: inline-flex;
    width: 350px;
    padding: 7px;
}

.big-card-top {
    display: flex;
}

.big-card-top-left {
    width: 210px;
}

.big-card-top-left__title {
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 24px;
}

.big-card-top-left__body {
    color: rgb(145, 145, 145);
}

.big-card-top-right-image {
    width: 110px;
    height: 110px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

   